 .filter-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    
}

.filter-header button {
    margin-top: 22px;
    cursor: pointer;
    padding: 7px;
    height: 30px;
    border-radius: 8px;
}
.filter-header button:hover {
    background-color: rgb(100, 115, 129);
    
}

.filter-price-num span{
    margin: 2px;
}


.filter-container{
    display: flex;
    height: 100%;
    width: 222px;
    flex-direction: column;
    border-right:2px solid black ;
    position: fixed;
}

.categorys{
    display: flex;
    padding-left: 41px;
    margin: 3px;
}

.short-by{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

