.font-large{
    font-size: large;
}
 
 .filter-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.filter-header button {
    cursor: pointer;
    padding: 7px;
    height: 30px;
    border-radius: 8px;
}
.filter-header button:hover {
    background-color: rgb(100, 115, 129);   
}

.filter-price-num span{
    margin: 2px;
}

.filter-range{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter-container-show{
    display: flex;
    max-height: 100%;
    /* width: 275px; */
    flex-direction: column;
    align-items: flex-start;

}
.filter-category{
display: flex;
flex-direction: column;
align-items: flex-start;
}
.filter-rating{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.category-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.short-by{
    display: flex;
    flex-direction: column;
}

