.product{
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    position: relative;
    min-height: 100vh;
    width: 100%;
}
.product-header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 0.5rem;
    background-color: #f7f7f7;
}

.filter-container{
    width: 20%;
}
.product-listing{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    justify-content: space-evenly;
}
.product-container {
    width: 14rem;
    box-shadow: 0 5px 15px rgba(0,0,0,.35);
    padding: 1rem;
    margin: 1rem;
    padding-top: 0;
    padding-bottom: 5px;
    height: 19rem;
    border-radius: 10px;
}

.product-title{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.product img {
    width: 166px;
    height: 194px;
}

.content-side{
    display: flex;
    flex-direction: column ;
    align-items: flex-start;
}

.author span{
    font-size: 13px;
}
.price-block{
    margin-top: 5px;
    font-weight: bold;
}

.price-block span{
padding-right: 5px;
}

.price-block span:nth-child(2){
    text-decoration: line-through;
    color: grey;
}
.price-block span:nth-child(3){
    color: darkgreen;
}
.add-button button {
    width: 225px;
    background-color: rgb(54, 116, 170);
    border: 0.5px solid blue;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.2rem;
    margin-top: 0.5rem;
}

.wishlist-button{ 
color: grey;
cursor: pointer;
display: flex;
position: absolute;
padding-left: 208px;
margin-top: -188px;
}

.wishlist-button i {
    font-size: 1.3rem;
}

.filter-icon{
    display: none;
}
.filter-icon span{
    font-size: 1.7rem;
    padding: 3px;
    color: rgb(51, 51, 51);
    box-shadow: 0 0 5px #d3d3d3;
    border-radius: .4rem;
    cursor: pointer;
}
.filter-icon span:hover {
    box-shadow: 0 0 5px #9db2bf;;
}


@media only screen and (max-width: 768px) {
    .filter-container{
        display: none;
    }
    .product-header{
        width: 100%;
    }
    .product-container{
        width: 12rem;
        height: 18rem;
    }
    
    .add-button button {
        width: 198px;
       
    }
    .wishlist-button {
       
        padding-left: 180px;
        margin-top: -180px;
    }
    .wishlist-button i {
        font-size: 1.3rem;
    }
    .product img {
        width: 155px;
        height: 179px;
    }
    .filter-icon{
        display: block;
    
    }
}

@media only screen and (max-width:360px) {
    .product-container {
        width: 10rem;
        height: 16.3rem;
    }
    .product img {
        width: 137px;
        height: 162px;
    }

    .title-name{
            font-size: small;
    }

    .author span{
            font-size: 11px;
    }
    .price-block {
        margin-top: 1px;
        font-size: 0.79rem;
    }
    .wishlist-button {
        padding-left: 152px;
        margin-top: -162px;
    }
    .wishlist-button i {
        font-size: 1.1rem;
    }
    .add-button button {
        width: 155px;
    }
}